// ===== CONSTANTS ===== //
$grey: #c6c6c6;

// ===== COMMON ===== //
body {
    font-family: Lato;
}

// ===== END OF COMMON CLASSES ===== //


// ===== HEADER ===== //
#header {
    border-bottom: 1px solid #5f99cf;
    background-color: #cee3f8;
    height: 40px;

    img {
        height: 40px;
        width: 120px;
        margin-bottom: 4px;
    }
    span {
        height: 40px;
        margin-left: 5px;
        font-family: arial;
        font-weight: bold;
        font-variant: normal;
        font-size: 20px;
            vertical-align: bottom;
            position: relative;
            top: -2px;
    }
}
// ===== END OF HEADER ===== //


// ===== TOPICS ===== //
#menu-area {
    border-bottom: 1px dotted gray;
    padding: 5px 10px;
    margin: 5px;
    overflow: hidden;

    #add-topic {
        padding: 5px;
        &:hover {
            color: #0000ff;
            cursor: pointer;
        }
    }
}

#topic-list {

    .topic-item {
        background-color: #fafafb;
        overflow: auto;
        margin-bottom: 8px;

        // topic rank for each item
        .rank {
            width: 25px;
            float: left;
            margin-top: 15px;
            color: $grey;
            font-size: medium;
            text-align: right;
        }

        // topic votes block
        .votes {
            width: 80px;
            display: inline-block;
            float: left;
            margin-left: 7px;
            margin-right: 7px;
            text-align: center;

            .score {
                font-weight: 700;
                color: $grey;
            }
            .arrow {
                margin: 2px 0px 0px 0px;
                width: 100%;
                height: 14px;
                display: block;
                cursor: pointer;
                background-position: center center;
                background-repeat: no-repeat;
                width: 15px;
                margin-left: auto;
                margin-right: auto;
                outline: none;
            }
            .arrow.down {
                background-image: url('/static/img/sprite-reddit.png');
                background-position: -42px -1618px;
                background-repeat: no-repeat;
            }
            .arrow.up {
                background-image: url('/static/img/sprite-reddit.png');
                background-position: -84px -1618px;
                background-repeat: no-repeat;
            }
        }

        // topic thumbnail
        .topic-thumbnail {
            float: left;
            width: 70px;
            overflow: hidden;
            margin-bottom: 2px;
            margin-right: 5px;

            img {
                background-color: $grey;
            }
        }

        .entry {
            margin-left: 3px;

            .title {
                font-size: 16px;
                margin-right: .4em;
                overflow: hidden;
                color: #0000ff;

                &:visited {
                    color: #551a8b;
                }
            }
        }
    }
}

// Topic Modal
.topic-modal {
    .modal-content {
        overflow: auto;
        padding-bottom: 20px;
    }

    #topic-form {
        background-color: #cee3f8;
        border-radius: 4px;
        padding: 5px 10px 10px 10px;

        span.label {
            display: block;
            color: #555;
            font-size: 14px;
            text-align: left;
            padding-left: 0;
        }

        textarea {
            width: 100%;
        }

        .error-msg {
            color: #d43242;
        }
    }

    #submit-topic-btn {
        position: relative;
        bottom: -10px;
        right: -10px;
        padding: 5px 10px;
        font-size: 13px;
        margin-top: 10px;
        float: right;
        background-color: #30416c;
        margin-top: 10px;
    }
}

// ===== END OF TOPICS ===== //
