body {
  font-family: Lato; }

#header {
  border-bottom: 1px solid #5f99cf;
  background-color: #cee3f8;
  height: 40px; }
  #header img {
    height: 40px;
    width: 120px;
    margin-bottom: 4px; }
  #header span {
    height: 40px;
    margin-left: 5px;
    font-family: arial;
    font-weight: bold;
    font-variant: normal;
    font-size: 20px;
    vertical-align: bottom;
    position: relative;
    top: -2px; }

#menu-area {
  border-bottom: 1px dotted gray;
  padding: 5px 10px;
  margin: 5px;
  overflow: hidden; }
  #menu-area #add-topic {
    padding: 5px; }
    #menu-area #add-topic:hover {
      color: #0000ff;
      cursor: pointer; }

#topic-list .topic-item {
  background-color: #fafafb;
  overflow: auto;
  margin-bottom: 8px; }
  #topic-list .topic-item .rank {
    width: 25px;
    float: left;
    margin-top: 15px;
    color: #c6c6c6;
    font-size: medium;
    text-align: right; }
  #topic-list .topic-item .votes {
    width: 80px;
    display: inline-block;
    float: left;
    margin-left: 7px;
    margin-right: 7px;
    text-align: center; }
    #topic-list .topic-item .votes .score {
      font-weight: 700;
      color: #c6c6c6; }
    #topic-list .topic-item .votes .arrow {
      margin: 2px 0px 0px 0px;
      width: 100%;
      height: 14px;
      display: block;
      cursor: pointer;
      background-position: center center;
      background-repeat: no-repeat;
      width: 15px;
      margin-left: auto;
      margin-right: auto;
      outline: none; }
    #topic-list .topic-item .votes .arrow.down {
      background-image: url("/static/img/sprite-reddit.png");
      background-position: -42px -1618px;
      background-repeat: no-repeat; }
    #topic-list .topic-item .votes .arrow.up {
      background-image: url("/static/img/sprite-reddit.png");
      background-position: -84px -1618px;
      background-repeat: no-repeat; }
  #topic-list .topic-item .topic-thumbnail {
    float: left;
    width: 70px;
    overflow: hidden;
    margin-bottom: 2px;
    margin-right: 5px; }
    #topic-list .topic-item .topic-thumbnail img {
      background-color: #c6c6c6; }
  #topic-list .topic-item .entry {
    margin-left: 3px; }
    #topic-list .topic-item .entry .title {
      font-size: 16px;
      margin-right: .4em;
      overflow: hidden;
      color: #0000ff; }
      #topic-list .topic-item .entry .title:visited {
        color: #551a8b; }

.topic-modal .modal-content {
  overflow: auto;
  padding-bottom: 20px; }

.topic-modal #topic-form {
  background-color: #cee3f8;
  border-radius: 4px;
  padding: 5px 10px 10px 10px; }
  .topic-modal #topic-form span.label {
    display: block;
    color: #555;
    font-size: 14px;
    text-align: left;
    padding-left: 0; }
  .topic-modal #topic-form textarea {
    width: 100%; }
  .topic-modal #topic-form .error-msg {
    color: #d43242; }

.topic-modal #submit-topic-btn {
  position: relative;
  bottom: -10px;
  right: -10px;
  padding: 5px 10px;
  font-size: 13px;
  margin-top: 10px;
  float: right;
  background-color: #30416c;
  margin-top: 10px; }
